.section{
    margin: 0 auto;
    margin-bottom: 100px;
    width: 70%;
    background-color: white;
}

body{
    background-color:#E5E5E5;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
   
}
.logo{
    text-align: center;
}
.section{
    margin: 0 auto;
    width: 70%;
    background-color: white;
}

.cuerpo{
    margin-top: 100px;
    background-color: white;
}
h1{
    text-align: center;
    background-color: #C4C4C4;
    color: #005677;
    margin: 0 auto;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}
h2{
    color: #005677;
    background-color:#C4C4C4;
    letter-spacing: 0.15em;
    text-transform:uppercase;
}
span{
    font-weight: bold;
}
.pie{
    text-align: center;
    background-color: white;
}
h3{
    color: white;
    background-color:#005677;
    letter-spacing: 0.15em;
    text-transform:uppercase;
}
.datos{
    margin-left: 15px;
}

footer{
    margin: 0 auto;
}