
header{
    background-color: #E5E5E5;
    text-align: center;
}
h1, h2{
    background-color: #c4c4c4;
    color: #005677;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.container{
    margin: 6rem auto;
    width: 70%;
}

span{
    font-weight: 900;
}

.personal span{
    font-style: italic;
}


/* Footer */
footer{
    background-color: #005677;
    color: #FFF;
    text-align: center;
}

i{
    background-color: black;
    margin: .3rem;
}